################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hive/.vs/Hive
/Hive/Hive.API/obj
/Hive/Hive.API/bin/Debug/net8.0
